<?xml version="1.0"?>
<config>
    <tabs>
        <j2t_all>
            <label>J2T Modules</label>
            <class>j2t-all-area</class>
            <sort_order>100</sort_order>
        </j2t_all>
    </tabs>
    <sections>
        <j2t_all translate="label comment" module="j2tpayplug">
            <tab>j2t_all</tab>
            <class>j2t-all-tab</class>
            <label>Our Products...</label>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <default translate="label comment" module="j2tpayplug">
                    <label>J2T DESIGN</label>
                    
                    <comment><![CDATA[
                        <script type="text/javascript">
                            document.observe("dom:loaded", function() {
                                $$('.content-header .form-buttons').invoke('hide');
                                $$('.middle .main-col-inner')[0].style.height = '1400px';
                                var url_j2t = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.j2t-design.net/index.php/j2t-products?limit=25';
                                $$('.middle .entry-edit')[0].replace('<iframe src="'+url_j2t+'" style="width:100%; height:1400px; border:none;"></iframe>');
                            });
                        </script>
                            ]]>
                    </comment>
                    
                    
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
			<j2t_all translate="label">
                            <label>All Modules</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Activate/deactivate all modules.]]></comment>
                        </j2t_all>
                    </fields>
                </default>
                
            </groups>
        </j2t_all>
        <payment>
            <groups>
                <j2tpayplug translate="label" module="paygate">
                    <label>Pay Plug</label>
                    <sort_order>670</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    
                    <comment><![CDATA[
                            <script type="text/javascript">
                                
                                hideAll = function(){
                                    $('payment_j2tpayplug_private_key').up(1).hide();
                                    $('payment_j2tpayplug_public_key').up(1).hide();
                                    $('payment_j2tpayplug_module_url').up(1).hide();
                                    $('payment_j2tpayplug_min_amount').up(1).hide();
                                    $('payment_j2tpayplug_max_amount').up(1).hide();
                                    $('payment_j2tpayplug_currencies').up(1).hide();
                                };

                                Event.observe(window, 'load', function() {
                                    hideAll();
                                });
                            </script>
                            ]]>
                    </comment>
                    
                    
                    
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        
                        <account_details translate="label">
                            <label>Account details</label>
                            <frontend_type>text</frontend_type>
                            <frontend_model>j2tpayplug/adminhtml_system_config_accountdetails</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </account_details>
                        
                        
                        <private_key translate="label">
                            <label>Private Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </private_key>
                        <public_key translate="label">
                            <label>Public Key</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </public_key>
                        <module_url translate="label">
                            <label>Module URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </module_url>
                        <min_amount translate="label">
                            <label>Min Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_amount>
                        <max_amount translate="label">
                            <label>Max Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_amount>
                        <currencies translate="label">
                            <label>Currencies</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </currencies>
                        
                        <user translate="label">
                            <label>User</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </user>
                        <pwd translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </pwd>
                        
                        <new_order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_newprocessing</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </new_order_status>
                        
                        <complete_order_status translate="label">
                            <label>Approved order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </complete_order_status>
                        
                        <cancel_order_status translate="label">
                            <label>Rejected order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </cancel_order_status>
                        
                        <invoice translate="label">
                            <label>Invoice when complete</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </invoice>
                        
                        <allowspecific translate="label">
                            <label>Payment from Applicable Countries</label>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>70</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label>Payment from Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>71</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        
                    </fields>
                </j2tpayplug>
            </groups>
        </payment>
    </sections>
</config>